*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading-bar{
  background-color: blue;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.loading-bar__item{
  width: 5%;
  height: 30px;
  background: red;
  margin-top: 50px;
}

#loading-bar2{
  width: 20%;
}

#loading-bar3{
  width: 60%;
}